/Editor/*
!/Editor/Mods/
/Editor/Mods/Gustav/
/Editor/Mods/GustavX/
/Editor/Mods/GustavDev/
/Editor/Mods/Shared/
/Editor/Mods/SharedDev/
/Editor/Mods/ModBrowser/
/Editor/Mods/MainUI/
/Editor/Mods/DiceSet_01/
/Editor/Mods/DiceSet_02/
/Editor/Mods/DiceSet_03/
/Editor/Mods/DiceSet_06/
/Editor/Mods/PhotoMode/
/Editor/Mods/Engine/

/Localization/
/Processed/
/Scripts/
/*.pak

/Generated/Public/Engine/
/Mods/Gustav/
/Mods/GustavX/
/Mods/GustavDev/
/Mods/Shared/
/Mods/SharedDev/
/Mods/ModBrowser/
/Mods/MainUI/
/Mods/PhotoMode/
/Mods/DiceSet_01/
/Mods/DiceSet_02/
/Mods/DiceSet_03/
/Mods/DiceSet_06/

/Public/Gustav/
/Public/GustavX/
/Public/GustavDev/
/Public/Shared/
/Public/SharedDev/
/Public/PhotoMode/
/Public/Engine/